<h2>Paid Invoices</h2>
<% if @paidvoices == [] %>
	<h4>You currently have no paid Invoices.</h4>
<% else %>
<table class="table table-striped table-hover">

	<thead>
		<tr>
			<th>Client Name</th>
			<th>Amount Paid</th>
			<th>Date Paid</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @paidvoices.each do |paid| %></td>
			<td><%= paid.client.name %></td>
			<td>$<%= paid.amount %></td>
			<td><%= paid.paid_date %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>