<h1>Listing of all Outstanding Invoices</h1>
<% if @unpaidvoices == [] %>
	<h3>You currently have no outstanding invoices.</h3>
<% else %>
<table class="table">
	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Due</td>
			<td>Sent Date</td>
			<td>Due Date</td>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @unpaidvoices.each do |unpaid| %></td>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.amount %></td>
			<td><%= unpaid.sendDate %></td>
			<td><%= unpaid.due_by %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>