<h1>Listing of all Outstanding Invoices</h1>
<table class="table">
	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Due</td>
		</tr>
	</thead>
	<tbody>
		<% if @unpaidvoices %>
			<% @unpaidvoices.each do |unpaid| %></td>
		<tr>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.amount %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>