<h2>Paid Invoices</h2>
<% if @paidvoices == [] %>
	<h3>You currently have no paid Invoices.</h3>
<% else %>
<table class="table table-striped">

	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Paid</td>
			<td>Date Paid</td>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @paidvoices.each do |paid| %></td>
			<td><%= paid.client.name %></td>
			<td><%= paid.amount %></td>
			<td><%= paid.paid_date %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>