<h2>Outstanding Invoices</h2>
<% if @unpaidvoices == [] %>
	<h3>You currently have no outstanding invoices.</h3>
<% else %>
<table class="table table-striped">

	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Due</td>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @unpaidvoices.each do |unpaid| %></td>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.amount %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>