	<ol class="breadcrumb">
		<li class="active">Company Dashboard</a></li>
	</ol>
<div class="text-center">
	<h1>Welcome <%= @current_user.name %>!</h1>
	<a href="/companies/clients/new" class="btn btn-lg btn-warning active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> New Client</a> 

	<a href="/companies/edit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Company</a> 

	<a href="/companies/reports" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Reports</a> 
</div>

<%= render "dashboard_listing" %>
<%= render "dashboard_unpaid" %>
<%= render "dashboard_paid" %>
			
</body>
</html>