// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#welcome_splash {
	background-image: url('splash_packing.jpg');
}