<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PayME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/">Home</a></li>
             <li><a href="/elements">Elements</a></li> -->
           
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Log In</button>
          </form>

          <!-- <form action='/' method='post' class="navbar-form navbar-right">
            <div class="form-group">
             <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
             <input type="hidden" name="_method" value="delete">
             <strong class="text-muted">Logged in as Name </strong> </div>
             <button type='submit' value='Log Out' class="btn btn-sm btn-default">Sign Out</button>
           </form> -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container">