<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PayME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/">Home</a></li>
             <li><a href="/elements">Elements</a></li> -->
           
          </ul>


         <% if session[:company_id] %>

          <form action='/sessions' method='post' class="navbar-form navbar-right">
            
             <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
             <input type="hidden" name="_method" value="delete">
             <div class="form-group">
               <strong class="text-muted">Logged in as a Company </strong>
               <button type='submit' value='Log Out' class="btn btn-sm btn-default">Sign Out</button>
             </div>
           </form> 

           <% else %>
  
           <form class="navbar-form navbar-right" action="/sessions" method="post">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>

        <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <% if flash[:errors] %>
      <p class="bg-danger text-center" style="padding:1em; margin-bottom: 0; font-weight: bold">
        <% flash[:errors].each do |e| %>
          <%= e %> <br />
        <% end %>
      </p>
    <% end %>

    <% if flash[:success] %>
      <p class="bg-success text-center" style="padding:1em; margin-bottom: 0; font-weight: bold"><%= flash[:success] %></p>
    <% end %>

    <div class="container">