<h2 class="text-center">Your payment of <strong><%= number_to_currency@invoice_amt %></strong> has been confirmed! Thank you!</h2>

<a href="/clients/" class="btn btn-lg btn-warning text-center center-block">Back to Your Dashboard</a>